@import '_colors';

.agency-form {
  padding: 2rem 3.5rem;
  &__input {
    width: 100%;
    margin-top: 2rem;
  }
  &__submit {
    margin-top: 3rem;
    text-align: center;
  }
}

.agency-form__cancel {
  margin-top: 0.25rem;
  width: 100%;
}

.agency-form__button {
  background-color: $colorPrimary;
  color: $colorLight;
  width: 100%;
  &:disabled {
    opacity: 0.5;
  }
}

.agency-form__loader {
  position: absolute;
  bottom: 0;
  left: 0;
}
