<form class="agency-form" [formGroup]="agencyForm">
  <app-input-form
    [control]="f.name"
    [label]="'Nombre de Agencia'"
    [maxLength]="30"
  ></app-input-form>

  <app-input-form
    [control]="f.direction"
    [label]="'Dirección'"
    [maxLength]="100"
  ></app-input-form>

  <app-input-form
    [control]="f.district"
    [label]="'Distrito'"
    [maxLength]="30"
  ></app-input-form>

  <app-input-form
    [control]="f.lat"
    [label]="'Latitud'"
    [msgErrorRequired]="'La latitud es obligatoria'"
  ></app-input-form>

  <mat-form-field appearance="legacy" class="agency-form__input">
    <mat-label>Longitud</mat-label>
    <input matInput placeholder="Placeholder" formControlName="lon" />
    <mat-error>
      <span *ngIf="f.lon.errors?.required"> La longitud es obligatorio</span>
    </mat-error>
  </mat-form-field>

  <div class="agency-form__submit">
    <button
      class="agency-form__button"
      mat-raised-button
      (click)="updateAgency()"
      [disabled]="loading || agencyForm.invalid"
    >
      <span>Actualizar</span>
      <mat-progress-bar
        *ngIf="loading"
        mode="indeterminate"
        class="agency-form__loader"
      ></mat-progress-bar>
    </button>
  </div>
</form>
