<div class="agency">
  <div class="agency__photo" (click)="agencyClick()">
    <img [src]="photo || 'assets/images/user.png'" alt="" />
  </div>
  <div class="agency__description" (click)="agencyClick()">
    <div class="agency__description--title">{{ agency.agencia }}</div>
    <div class="agency__description--province">
      {{ agency.departamento }}
    </div>
    <div class="agency__description--direction">
      {{ agency.direccion }}
    </div>
  </div>
  <div class="agency__icon">
    <button class="button-fav" (click)="changeFavoriteAgency()">
      <mat-icon
        *ngIf="agency.favorite"
        aria-hidden="false"
        aria-label="botón favorito"
        class="agency__icon--star-filled"
      >
        star
      </mat-icon>
      <mat-icon
        aria-hidden="false"
        aria-label="Ícono correcto"
        class="agency__icon--star-border"
        *ngIf="!agency.favorite"
      >
        star_border
      </mat-icon>
    </button>
    <button class="button-fav" (click)="clickLocation()">
      <mat-icon aria-label="Ver el mapa" class="agency__icon--map-icon">
        location_on
      </mat-icon>
    </button>
  </div>
</div>
